*.aux
*.*latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.bcf
*.blg
*.lof
*.lot
*.run.xml
*.toc
*.out
__latexindent_temp.tex
latexindent.pl
/build
/LatexIndent
/path-helper-files
/defaultSettings.yaml

!images/logo-isw.pdf
!Name_Thema.pdf
